#game-screen {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 10px;
}

.grid {
  padding: 20px 200px;
  display: grid;
  /*  grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px); */
  gap: 2px;
}

.tile {
  width: 30px;
  height: 30px;
  background-color: #FF9933;
  position: relative;
  transition: background-color 1s linear;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.collected-counter {
  margin-top: 20px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.tile.mountain {
  background-color: #777;
  cursor: not-allowed;
  /* background-image: url('/img/mountain-icon.png'); /* opzionale */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.house-tile {
  background-color: #6ac13f;
}